.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__input {
        width: 340px;
    }
}

.form-group-row {
    display: flex;
    gap: 10px;

    &__input {
        width: 165px;
    }
}

.auth-navigate {
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: var(--text-size-link);

    &__link {
        color: var(--violet-primary);
    }

    &__button {
        color: var(--violet-primary);
    }
}

.button-wrapper {
    width: 100%;
}