@import "src/app/styles/mixins";

.register-form-component {
    &__auth-form-wrapper {
        padding: 40px;
    }

    &__stepper {
        width: 100%;
    }
}

.inputs {
    &__title {
        margin-bottom: 8px;
        align-self: center;
        color: var(--violet-primary);
        font-weight: 700;
        font-family: var(--secont-family);
        font-size: var(--text-size-m);
    }
}

.specializations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}