@import "src/app/styles/mixins";

.register-form-component {
    &__register-form-wrapper {
        padding: 40px;
    }

    &__stepper {
        width: 100%;
    }
}

.register-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
        margin-bottom: 8px;
        align-self: center;
        color: var(--violet-primary);
        font-weight: 700;
        font-family: var(--secont-family);
        font-size: var(--text-size-m);
    }
}
